body {
    font-size: 0.9em;
}

h3 {
    margin-block: 0.5rem 0.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.angry-grid {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-template-areas:
        'title toolbar'
        'topheaderleft topheaderright'
        'domainstable domainstable'
        'subheaderleft subheaderright'
        'urlstable urlstable';
    gap: 0px;
    height: 100%;
}

#item-t {
    grid-area: title;
    padding: 2px 0px 5px 0px;
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;
}

#item-0 {
    grid-area: topheaderleft;
    margin-bottom: 10px;
}

#item-1 {
    grid-area: toolbar;
}

#item-2 {
    grid-area: topheaderright;
    justify-self: end;
}

#item-3 {
    grid-area: domainstable;
}

#item-4 {
    grid-area: subheaderleft;
}

#item-6 {
    grid-area: subheaderright;
}

#item-7 {
    grid-area: urlstable;
}

.font_large {
    font-size: 1.2rem !important;
}

.apptitle {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    font-size: large;
    height: 24px;
}


.container_head{
    display: flex;
    align-items: end;
    height: 2em;
    margin-bottom: 0.6em;
}

input#search_on_date {
    position: relative;
    width: 23px; height: 23px;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-width: 0.01rem;
    border-color: var(--border);
    padding-left: 3px;
}

input#search_on_date::-webkit-datetime-edit, input::-webkit-inner-spin-button, input::-webkit-clear-button {
    display: none;
}

table {
    overflow-y: scroll;
    display: block;
    border-spacing: 0;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    margin-bottom: 0.5em;
    position: relative;
    /* z-index: 1; */
}

table th{
    text-align: left;
    position: sticky;
    top:0;
    background-color: var(--white);
}

table tr.scroll {
    display: table;
    width: 100%;
    position: absolute;
}

table td {
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
}

table td.col_date {
    width: 8rem;
    min-width: 8rem;
    max-width: 8rem;
}

table td.col_fav {
    width: 1.5em;
    min-width: 1.5em;
    max-width: 1.5em;
}

table#url_rows td.col_count {
    width: auto;
    text-align: right;
}

.highlight {
    background-color: var(--highlight1);
}

.highlight2 {
    color: var(--highlight2);
    font-weight:500;
}

input#quickFindInput {
    font-size: large;
    margin-right: 1.3rem;
    width: 150px;
    float: right;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-width: 0.01rem;
    border-color: var(--border);
}

input#quickFindInput:focus {
    border-width: 0.01rem;
    border-color:var(--border);
}


a {
    color:var(--url);
}

:root {
    --highlight1: #ddd;
    --highlight2: #2266AA;
    --url: darkslateblue;
    --border: #888;
    --hover4: #ddd;
    --gray: #aaa;
    --white: #ffffff;
    --black: #000;
    --red: red;
}

.button_row{
    height: 24px;
    display: inline-flex;
}

.button {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1em;
    font-family: Arial;
    border-width: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0px;
    margin-right: 4px;
    cursor: pointer;
}

.button_gen{
    border-color: var(--gray);
    background: var(--white);
    width: 26px;
    margin-right: 1rem;
    padding: 0;
}

.button_gen:hover {
    background: var(--hover4);
}

.button2 { 
    border-color: var(--gray);
    background: var(--white);
    width: 26px;
}

.button2:hover {
    background: var(--hover4);
}

.float-right{
    float: right;
}

textarea {
    width: 100%;
    height: 3.3rem;
    padding: 3px 3px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 2px;
    background-color: #f8f8f8;
    resize: none;
}

/* === Modal =================================== */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 1rem;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid var(--border);
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
  
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.closingx {
    color:var(--black);
    float: right;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    width: 1.5em;
    padding: 0.1em 0.1em 0.3em 0.1em;
}

.closingx:hover,
.closingx:focus {
    color:var(--white);
    text-decoration: none;
    cursor: pointer;
    background-color: var(--red);
}

.modal-body {
    padding: 2px 16px;
    /* display: flex; */
    align-items: end;
}

.space10 {
    padding-left: 50px;
}

ul{
    margin: 0;
    padding: 0;
}

li.setting-item{
    padding: 0.5rem 0rem;
    list-style-type: none;
    display: block;
}
